## Queries

In [7]:
%defaultDatasource jdbc:h2:mem:db

In [10]:
DROP TABLE IF EXISTS Jogador;

CREATE TABLE Jogador (
  nome VARCHAR(50) NOT NULL,
  data_de_nascimento INTEGER NOT NULL,
  altura INT,
  mao_dominante VARCHAR(1),
  local VARCHAR(3),
  PRIMARY KEY(nome, data_de_nascimento)
) AS SELECT
  nome, data_de_nascimento, altura, mao_dominante, local
FROM CSVREAD('../data/processed/men_players.csv');

In [11]:
SELECT * FROM Jogador

In [ ]:
DROP TABLE IF EXISTS Confronto;

CREATE TABLE Confronto (
  winner VARCHAR(50) NOT NULL,
  loser VARCHAR(50) NOT NULL,
  round VARCHAR(50) NOT NULL,
  location VARCHAR(50),
  data VARCHAR(50),
  oddwinner FLOAT,
  oddloser FLOAT,
  setwinner INTEGER,
  setloser INTEGER,
  PRIMARY KEY(winner,loser,round),
  FOREIGN KEY(winner,loser) REFERENCES Jogador(nome),
  FOREIGN KEY(location, data) REFERENCES Torneio(location, data)
) AS SELECT
  Winner, Loser, Round, Location, Data, AvgW, AvgL,Wsets, Lsets
FROM CSVREAD('../data/processed/men_players.csv');