## CONSULTAS NO DATASET

In [9]:
%defaultDatasource jdbc:h2:mem:db

In [18]:
DROP TABLE IF EXISTS Jogador;

CREATE TABLE Jogador (
  nome VARCHAR(50) NOT NULL,
  data_de_nascimento INTEGER NOT NULL,
  altura INT,
  mao_dominante VARCHAR(1),
  local VARCHAR(3),
  PRIMARY KEY(nome, data_de_nascimento)
) AS SELECT
  name,date_of_birth,height,hand,country
FROM CSVREAD('../data/processed/men_players.csv');

In [19]:
SELECT * FROM Jogador

In [29]:
DROP TABLE IF EXISTS Torneio;

CREATE TABLE Torneio (
  location VARCHAR(100),
  surface VARCHAR(50),
  year INTEGER,
  tournament VARCHAR(100),
    
  PRIMARY KEY(tournament, year),
) AS SELECT
  Location,Surface,Year,Tournament
FROM CSVREAD('../data/processed/tournaments.csv');

In [30]:
SELECT * FROM Torneio

In [41]:
DROP TABLE IF EXISTS Confronto;

CREATE TABLE Confronto (
  winner VARCHAR(100) NOT NULL,
  loser VARCHAR(100) NOT NULL,
  round VARCHAR(100) NOT NULL,
  tournament VARCHAR(200),
  data VARCHAR(50),
  oddwinner FLOAT,
  oddloser FLOAT,
  setwinner FLOAT,
  setloser FLOAT,
  year INTEGER,
  PRIMARY KEY(winner,loser,data),
  FOREIGN KEY(winner) REFERENCES Jogador(nome),
  FOREIGN KEY(loser) REFERENCES Jogador(nome),
  FOREIGN KEY(tournament, year) REFERENCES Torneio(tournament, year)
) AS SELECT
  Winner, Loser, Round, Tournament, Data, AvgW, AvgL,Wsets, Lsets, Year
FROM CSVREAD('../data/processed/confrontations_since_2010.csv');

In [42]:
SELECT * FROM Confronto

In [59]:
DROP TABLE IF EXISTS Historico;

CREATE TABLE Historico (
  name VARCHAR(100) NOT NULL,
  followers_2019 INTEGER,
  followers_2021 INTEGER,
  ano_2010 INTEGER,
  ano_2011 INTEGER,
  ano_2012 INTEGER,
  ano_2013 INTEGER,
  ano_2014 INTEGER,
  ano_2015 INTEGER,
  ano_2016 INTEGER,
  ano_2017 INTEGER,
  ano_2018 INTEGER,
  ano_2019 INTEGER,
  ano_2020 INTEGER,
  PRIMARY KEY(name),
  FOREIGN KEY(name) REFERENCES Jogador(nome),
) AS SELECT
  name,followers_2019,followers_2021,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
FROM CSVREAD('../data/processed/history.csv');

In [60]:
SELECT * FROM Historico

In [43]:
SELECT nome FROM Jogador
WHERE mao_dominante = 'L'
AND local = 'BRA'

In [44]:
SELECT mao_dominante, COUNT(*) num 
FROM Jogador  
WHERE local = 'BRA'
GROUP BY mao_dominante

In [45]:
SELECT surface, COUNT(*) num 
FROM Torneio  
GROUP BY surface

In [46]:
DROP VIEW IF EXISTS TOP3;
CREATE VIEW TOP3 AS 
SELECT * 
FROM Confronto
WHERE winner = 'Nadal R.'
OR winner = 'Federer R.'
OR winner = 'Djokovic N.'

In [47]:
select * from top3

In [48]:
SELECT winner, TOP3.tournament, count(*)num 
FROM TOP3
GROUP BY TOP3.tournament, winner
ORDER BY num desc

In [49]:
SELECT MAX(altura)
FROM Jogador

211

In [50]:
SELECT *
FROM Jogador
WHERE altura = (SELECT MIN(altura) FROM Jogador)
OR altura = SELECT MAX(altura) FROM Jogador

In [51]:
SELECT WINNER, COUNT(*) NUM
FROM CONFRONTO
WHERE WINNER = 'Rochus O.'
OR WINNER = 'Opelka R.'
GROUP BY WINNER

In [52]:
SELECT LOSER, COUNT(*) NUM
FROM CONFRONTO
WHERE LOSER = 'Rochus O.'
OR LOSER = 'Opelka R.'
GROUP BY LOSER

In [ ]:
SELECT PLAYER